*{margin: 0px;
padding:0px;
list-style: none;
text-decoration: none;
color: black;
}

.header{
    height: 100px;
    text-align:center;
    background-color: bisque;
    border-bottom: px solid #999;
   
}

.dhe1{
    color: brown;
    font-family: 'Roboto Mono', monospace;
    font-size:30px;
    padding-top:0px;
    letter-spacing: 2px;
   

}

.hp1{
   font-weight:bold ;
    letter-spacing: 2px;
    font-family: 'Square Peg';
    color:darkslateblue;
    font-weight: bold;} 
    
   


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 8px 12px;


}

a{text-decoration: none;
color:black;
}

.navbar_logo{
    font-size:34px;
    color:orange;
    font-family: 'Roboto Mono', monospace;
}

.navbar_logo i{
    color:orangered;

}
.navbar_menu{
    display: flex;
    padding-right:200px;
    list-style: none;
    font-size: 25px;
    



}
.navbar_menu li{
padding: 8px 50px;
text-align: center;
font-family: 'Roboto Mono', monospace;
}





